body {
  background-color: #fff;
  color: #000;
  font-family: sans-serif;
  font-size: 1.2em;
}

nav {
  background-color: #696969;
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

.container .author{
  font-weight: bold;
  padding-top: .50em;
  padding-bottom: 1em;
}

.container h1{
  font-size: 3em;
  font-weight: bold;
  padding: .50em 0 .50em 0;
}
.container h3{
  font-size: 1.7em;
  line-height: normal;
  padding-bottom: .50em;
}

figcaption {
  font-size: 12px;
  font-style: italic;
}

.story-text {
  font-family: serif;
  line-height: 2.4em;
  padding-bottom: .75em;
}

.right a{
  color: #fff;
  text-decoration: none;
}

a:hover {
  color:#778899;
}

